@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/assets/fonts/ibm-plex-mono.woff2') format('woff2'),
         url('/assets/fonts/ibm-plex-mono.woff') format('woff')
}

@font-face {
    font-family: 'Young Serif';
    src: url('/assets/fonts/youngserif.woff2') format('woff2'),
         url('/assets/fonts/youngserif.woff') format('woff')
}